a {
	color: $font-color;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	color: $font-color;
	margin-bottom: 36px;
}

p {
	margin-bottom: 24px;
}

.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-center {
	justify-content: center;
}

@media all and (max-width: 1024px) {
	.header {
		padding: 0 12px;
	}
	.nav-main {
		display: none;
	}
	.header__btn-menu {
		display: inline-block;
	}
	.header__btn-action {
		right: 12px;
	}
}

@media all and (max-width: 768px) {
	.section .container .education {
		position: relative;
		padding: 0;;
		margin: 18px 0;;
		margin-bottom: 42px;;
		.info-degree {
			width: 100%;
			float: none;
			margin-bottom: 24px;
			.marker {
				position: absolute;
				top: 50%;
				left: 0;
				margin-left: -11px;
				margin-top: -27px;
			}
			.card {
				padding: 24px;
				position: static;
				margin: 0;
				margin-left: 36px;
				&::after {
					border-width: 18px 0 0 18px;
					border-color: transparent transparent transparent #fff;
					box-shadow: -1px 2px 2px rgba(0,0,0,.15);
					bottom: auto;
					left: 36px;
					top: 50%;
					margin-top: -25px;
					transform: rotate(45deg);
				}
			}
			.year {
				position: static;
				margin: 0 auto;
				padding-left: 36px;
				margin-top: 6px;
			}
		}
		.info-degree:nth-child(even) {
			width: 100%;
			float: none;
			margin-bottom: 24px;
			.marker {
				position: absolute;
				top: 50%;
				left: 0;
				margin-left: -11px;
				margin-top: -27px;
			}
			.card {
				padding: 24px;
				position: static;
				margin: 0;
				margin-left: 36px;
				&::before {
					border-width: 18px 0 0 18px;
					border-color: transparent transparent transparent #fff;
					box-shadow: -1px 2px 2px rgba(0,0,0,.15);
					bottom: auto;
					left: 36px;
					top: 50%;
					margin-top: -25px;
					transform: rotate(45deg);
				}
			}
			.year {
				position: static;
				margin: 0 auto;
				padding-left: 36px;
				margin-top: 6px;
			}
		}
		.time-line {
			border-bottom: none;
			border-left: 1px dashed #232323;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 1px;
			margin: 0;
			padding: 0;
			&::before {
				top: -18px;
				bottom: -7px;
				left: -7px;
			}
			&::after {
				right: auto;
				bottom: -18px;
				left: -7px;
			}
		}
	}
	.section .container .hobbies .icon-box {
		width: 50%;
	}
	.skill .container .technical {
		width: 100%;
	}
	.skill .container .knowledge {
		width: 100%;
	}
	.skill .container .language {
		flex-wrap: wrap;
		.w-33 {
			width: 100%;
		}
	} 
}

@media all and (max-width: 432px) {
	.skill .container .knowledge .cell {
		width: 100%;
	}
}
