.sections {
  .section-home{
    display: none !important;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 72px 60px 0 60px;

    .content {
      max-height: 650px;
      width: 58%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: #232323;
      }
      p {
        color: #666;
      }
      .main-btns{
        margin: 48px 10px;

        button {
          text-transform: uppercase;
          font-size: 15px;
          padding: 11px 29px;
          margin-right: 32px;
          border: none;
          border-radius: 3px;
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
        }
        .btn-hire {
          background-color: white;
        }
        .btn-download {
          background-color: #7c4dff;
          color: white;
        }
      }
    }
    .photo {
      width: 42%;
      max-height: 650px;

      .photo-man {
        margin: 0 50px;
        max-height: 650px;
      }
    }

    @media screen and (max-width: 1024px) {
      flex-direction: column;      
    }
  }

  .section-about {
    padding: 72px 12px;
    font-size: 14px;

    h2 {
      text-transform: uppercase;
      margin-bottom: 36px;
      font-size: 22px;
      font-weight: 700;
    }
    h3{
      text-transform: uppercase;
      font-size:20px;
      margin-bottom: 36px;
      font-weight: 500;
      
      &.name {
        margin-bottom: 16px;
      }
    }
    h5 {
      text-transform: uppercase;
      font-size:15px;
      font-weight: 500;

      .title {
        margin-bottom: 24px;
      }
    }
    .section-img {
      max-height: 650px;
      max-width: 100%;
    }
    p {
      color: #666;
    }
    .sign {
      padding-bottom: 12px;
      border-bottom: 2px dashed #232323;
      margin: 0 18px 24px 18px;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width:14px;
        height: 14px;
        border: 4px solid #7c4dff;
        background-color: white;
        border-radius: 50%;
        bottom: -7px;
        left: -18px;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width:14px;
        height: 14px;
        border: 4px solid #7c4dff;
        background-color: white;
        border-radius: 50%;
        bottom: -7px;
        right: -18px;
      }
    }
    .info {
      text-transform: uppercase;
      list-style-type: none;
      color: #666;
      padding: 0;
      margin-bottom: 48px;

      li {
        margin-bottom: 12px;
      }
    }

    .card {
      padding: 48px 0;
      flex-grow: 1;
      background-color: white;
      text-align: center;
      box-shadow: 0 2px 6px rgba(0,0,0,.2);

      i {
        font-size: 72px;
        margin-bottom: 24px;
      }
      &:hover{
        background: #7c4dff;
        color: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,.3);
      }
    }
  }
}
.page-movement {
  position: fixed;
  bottom: 100px;
  right: 100px;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  color: white;
  width: 60px;
  line-height: 60px;
  text-align: center;

  a {
    background-color: black;
    border-radius: 50%;
    margin-top: 20px;
  }
  .btn-prev {
    opacity: 0.8;
  }
}
footer {
  background-color: #232323;
  color: white;
  text-align: center;

  .footer--top{
    padding: 48px 85px;
    display: flex;
    justify-content: center;

    .footer-block {
      flex-grow: 1;
      padding: 0 15px;

      h2 {
        margin-bottom: 24px;
      }
      .social-icons {
        font-size: 16px;
        line-height: 24px;
        color: #232323;
        display: flex;
        justify-content: center;

        .social-icon {
          background-color: white;
          border-radius: 50%;
          margin: 0 10px;

          i {
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
  .footer--bottom {
    background-color: #1c1c1c;
    line-height: 50px;
    font-weight: 500;
  }
}
@media all and (max-width: 1024px) {
  .navbar {
    display: none;
  }
  .burger {
    display: block !important;
  }
}
